@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: #000;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #111;
}
header .logo span {
  color: #ff0157;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header.sticky .navigation li a {
  color: #111;
}
header .navigation li a:hover {
  color: #ff0157;
}

/* BANNER */

.carousel-inner{
  height: 450px;
  position: absolute;

 }

.carousel-inner img {
  width: 100vh;
  max-height: 460px;
}

.carousel-caption.d-none.d-md-block{
  position: absolute;
  top: 120px; left: 800px;
 width: 70vh;
 padding: 3px;

}

.carousel-caption.d-none.d-md-block button{
  position: absolute;
  top: 140px; left: 120px;
  font-size: 20px;
}


.carousel-caption h1  {
color:black;
text-align: left;
position: relative;
  bottom: 160px; left: -150px;
  width: 100vh;
}

.carousel-caption.d-none.d-md-block h5.text-dog{
  color:white;
}
.carousel-caption.d-none.d-md-block p.text-dog{
  color:white;
  }

  .carousel-caption h1.text-dog {
    color:white;
    position: relative;
    bottom: 180px; left: -150px;
    width: 100vh;
  
    }


    .carousel-caption h1.text-sick {
        position: relative;
        bottom: 190px; left: -150px;
        width: 100vh;
    
      }