@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
:root {
  --color__main: #03a85c;
  --color__title: #323332;
  --color__text: #767777;
  --color__background: #fffefe;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo {
  color: #111;
}
header .logo span {
  color: #ff0157;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header.sticky .navigation li a {
  color: #111;
}
header .navigation li a:hover {
  color: #ff0157;
}

/* FOOTER */
footer {
  padding: 8px 16px 80px;
}

footer .footer__nav {
  display: grid;
  grid-template-columns: 1fr;
}
footer .footer__nav span {
  color: var(--color__main);
  font-weight: bold;
}
footer .footer__nav div p {
  color: var(--color__main);
  font-weight: bold;
}
footer hr {
  margin-bottom: 56px;
}
footer .footer__nav div ul li a {
  color: var(--color__text);
  text-decoration: none;
  cursor: pointer;
}
footer div ul li {
  list-style: none;
}
footer .footer__nav .language {
  margin-top: 36px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
footer .footer__nav .language p {
  color: var(--color__text);
}

footer .footer__site-info {
  display: grid;
  grid-template-columns: 1fr;
}
footer .footer__site-info .social-media ul {
  width: 60%;
  max-width: 364px;
  display: flex;
  justify-content: space-between;
}
footer .footer__site-info div ul li a {
  color: var(--color__text);
  text-decoration: none;
  cursor: pointer;
}
footer .footer__site-info .copyright {
  color: var(--color__text);
}

@media (min-width: 1024px) {
  footer .footer__nav {
    grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
    grid-template-rows: 1fr;
  }
  footer .footer__nav div {
    padding: 0 8px;
  }
  footer .footer__nav div:nth-child(1) {
    grid-column-start: 2;
  }
  footer .footer__site-info {
    grid-template-columns: 1fr 5fr 3fr 1fr;
  }
  footer .footer__site-info .social-media {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  footer .footer__site-info .content {
    grid-column-start: 2;
    display: flex;
    justify-content: space-between;
  }
  footer .footer__site-info .content .copyright {
    width: 30%;
  }
  footer .footer__site-info .content .legal {
    width: 70%;
  }
  footer .footer__site-info .content .legal ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  footer .footer__site-info .social-media ul {
    margin-left: 20%;
  }
}
